header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  
 
  
  header h1 {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.4em;
    text-align: center;
    text-transform: uppercase;
    color: #1e1b1a;
    margin: 0;
  }
  
  header p {
    text-align: center;
    color: #a39191;
    margin: 0;
  }
  
  @media (min-width: 768px) {
    header {
      margin-bottom: 4rem;
    }
  
    header h1 {
      font-size: 2.25rem;
    }
  }
  
  
  .logo {
    object-fit: contain;
    margin-bottom: 2rem;
    width: 11rem;
    height: 11rem;

    
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }

  

  